<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>Direction:</b>
  <%= @message.direction %>
</p>

<p>
  <b>Phone number:</b>
  <%= @message.phone_number_id %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
